.user-list.col-lg-3
    .panel.panel-default
        .panel-heading
            | Пользователи
            = ' '
            button(type="button" class="btn-default btn btn-xs pull-right" data-attach-add)
                span(class="glyphicon glyphicon-plus")
        .panel-body
            if items
                ul(class='nav nav-pills nav-stacked')
                    include ./user
            else 
                | Пользователи отсутствуют

