.user-list.col-lg-3
    .panel.panel-default
        .panel-heading
            | Личности
            = ' '
            button(type="button" class="btn-default btn btn-xs pull-right" data-attach-add)
                span(class="glyphicon glyphicon-plus")
        .panel-body
            ul(class='nav nav-pills nav-stacked')
                if items.length === 0
                    li Список пуст
                else 
                    include ./user

