.user-list.col-lg-3
    .panel.panel-default
        .panel-heading Пользователи
        .panel-body
            ul(class='nav nav-pills nav-stacked')
                each item in items
                    li
                        a(href="#")= `${item.name} ${item.surname}`
