.user-list.col-lg-3
    .panel.panel-default
        .panel-heading
            | Пользователи
            = ' '
            button(type="button" class="btn-default btn" data-attach-add) +
        .panel-body
            ul(class='nav nav-pills nav-stacked')
                each item in items
                    li
                        a(href="#" data-id=item._id) #{item.fullName} #{item.email}

